//  Mixins

.BASE_FONT_FAMILY() {
	// font-family: "Century Gothic", "Muli", CenturyGothic, AppleGothic, sans-serif;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.SECONDARY_FONT_FAMILY() {
	// font-family: "Century Gothic", "Muli", CenturyGothic, AppleGothic, sans-serif;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}
